

.titulo{

}

.container{
  border: 1px solid red;
  width: 99%;

}
.forms{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin: 3em;
  justify-content: center;

}